version: "3.8"

services:
  # KAFKA INFRASTRUCTURE
  pinnacle-zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-log:/var/lib/zookeeper/log
    restart: always
    networks: [pinnacle-network]

  pinnacle-kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - pinnacle-zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: pinnacle-zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://pinnacle-kafka:9092,PLAINTEXT_INTERNAL://pinnacle-kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka-data:/var/lib/kafka/data
    restart: always
    networks: [pinnacle-network]
    healthcheck:
      test: kafka-topics --bootstrap-server localhost:29092 --list
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  pinnacle-kafka-ui:
    image: provectuslabs/kafka-ui:latest
    environment:
      KAFKA_CLUSTERS_0_NAME: pinnacle
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: pinnacle-kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: pinnacle-zookeeper:2181
    depends_on:
      - pinnacle-kafka
    restart: always
    networks:
      - pinnacle-network
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kafka-ui-pinnacle.rule=Host(`kafka.pinnacle.lakhveerbawa.com`)"
      - "traefik.http.routers.kafka-ui-pinnacle.entrypoints=websecure"
      - "traefik.http.routers.kafka-ui-pinnacle.tls=true"
      - "traefik.http.routers.kafka-ui-pinnacle.tls.certresolver=letsencrypt"
      - "traefik.http.routers.kafka-ui-pinnacle.service=kafka-ui-pinnacle"
      - "traefik.http.services.kafka-ui-pinnacle.loadbalancer.server.port=8080"

  # FRONTEND
  pinnacle-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
      - NEXT_PUBLIC_API_URL=https://api.pinnacle.lakhveerbawa.com/api/v1
    environment:
      - NEXT_PUBLIC_API_URL=https://api.pinnacle.lakhveerbawa.com
      - NEXTAUTH_SECRET="your-secret-here-at-least-32-chars"
      - GITHUB_ID="Ov23lizCGkFF2NrJGP7O"
      - GITHUB_SECRET="TOKENHERE"
    restart: always
    depends_on:
      - pinnacle-gateway
    networks:
      - pinnacle-network
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pinnacle-lakhveerbawa-com.rule=Host(`pinnacle.lakhveerbawa.com`)"
      - "traefik.http.routers.pinnacle-lakhveerbawa-com.entrypoints=websecure"
      - "traefik.http.routers.pinnacle-lakhveerbawa-com.tls=true"
      - "traefik.http.routers.pinnacle-lakhveerbawa-com.tls.certresolver=letsencrypt"
      - "traefik.http.routers.pinnacle-lakhveerbawa-com.service=pinnacle-lakhveerbawa-com"
      - "traefik.http.services.pinnacle-lakhveerbawa-com.loadbalancer.server.port=3000"

  # GATEWAY (Go)
  pinnacle-gateway:
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile.prod
    env_file: .env
    environment:
      - REDIS_HOST=pinnacle-redis
      - REDIS_PORT=6379
      - AUTH_SERVICE_URL=pinnacle-auth-service:4460
      - USERS_SERVICE_URL=pinnacle-users-service:4450
      - OUTCOMES_SERVICE_URL=pinnacle-outcomes-service:4440
    depends_on:
      - pinnacle-redis
      - pinnacle-auth-service
      - pinnacle-users-service
      - pinnacle-outcomes-service
    restart: always
    networks:
      - pinnacle-network
      - observer
      - web
    labels:
      - "traefik.enable=true"
      # Main router (non-www)
      - "traefik.http.routers.api-pinnacle-lakhveerbawa-com.rule=Host(`api.pinnacle.lakhveerbawa.com`)"
      - "traefik.http.routers.api-pinnacle-lakhveerbawa-com.entrypoints=websecure"
      - "traefik.http.routers.api-pinnacle-lakhveerbawa-com.tls=true"
      - "traefik.http.routers.api-pinnacle-lakhveerbawa-com.tls.certresolver=letsencrypt"
      - "traefik.http.routers.api-pinnacle-lakhveerbawa-com.service=api-pinnacle-lakhveerbawa-com"

      # Service
      - "traefik.http.services.api-pinnacle-lakhveerbawa-com.loadbalancer.server.port=8080"

  # NESTJS MICROSERVICES (Internal gRPC)
  pinnacle-auth-service:
    build:
      context: ./backend/services/nestjs-services
      dockerfile: Dockerfile.prod
      args:
        SERVICE_NAME: auth-service
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@pinnacle-auth-service-db:5432/auth
      - REDIS_HOST=pinnacle-redis
      - USERS_SERVICE_URL=pinnacle-users-service:4450
      - KAFKA_CLIENT_ID='auth-service'
      - KAFKA_BROKERS=pinnacle-kafka:9092
    restart: always
    depends_on:
      - pinnacle-auth-service-db
      - pinnacle-redis
    networks: [pinnacle-network, observer]

  pinnacle-users-service:
    build:
      context: ./backend/services/nestjs-services
      dockerfile: Dockerfile.prod
      args:
        SERVICE_NAME: users-service
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@pinnacle-users-service-db:5432/users
      - REDIS_HOST=pinnacle-redis
      - KAFKA_CLIENT_ID='users-service'
      - KAFKA_BROKERS=pinnacle-kafka:9092
    restart: always
    depends_on:
      - pinnacle-users-service-db
      - pinnacle-redis
    networks: [pinnacle-network, observer]

  pinnacle-outcomes-service:
    build:
      context: ./backend/services/nestjs-services
      dockerfile: Dockerfile.prod
      args:
        SERVICE_NAME: outcomes-service
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@pinnacle-outcomes-service-db:5432/outcomes
      - REDIS_HOST=pinnacle-redis
      - KAFKA_CLIENT_ID='outcomes-service'
      - KAFKA_BROKERS=pinnacle-kafka:9092
    restart: always
    depends_on:
      pinnacle-kafka:
        condition: service_healthy
      pinnacle-outcomes-service-db:
        condition: service_started
      pinnacle-redis:
        condition: service_started
    networks: [pinnacle-network, observer]

  pinnacle-notifications-service:
    build:
      context: ./backend/services/nestjs-services
      dockerfile: Dockerfile.prod
      args:
        SERVICE_NAME: notifications-service
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@pinnacle-notifications-service-db:5432/notifications
      - REDIS_HOST=pinnacle-redis
      - KAFKA_CLIENT_ID='notifications-service'
      - KAFKA_BROKERS=pinnacle-kafka:9092
    restart: always
    depends_on:
      pinnacle-kafka:
        condition: service_healthy
      pinnacle-notifications-service-db:
        condition: service_started
      pinnacle-redis:
        condition: service_started
    networks:
      - pinnacle-network
      - observer
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.notifications-pinnacle.rule=Host(`notifications.pinnacle.lakhveerbawa.com`)"
      - "traefik.http.routers.notifications-pinnacle.entrypoints=websecure"
      - "traefik.http.routers.notifications-pinnacle.tls=true"
      - "traefik.http.routers.notifications-pinnacle.tls.certresolver=letsencrypt"
      - "traefik.http.routers.notifications-pinnacle.service=notifications-pinnacle"
      - "traefik.http.services.notifications-pinnacle.loadbalancer.server.port=4470"

  # DATABASES

  pinnacle-auth-service-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: auth
    volumes:
      - dbdata_auth_service:/var/lib/postgresql/data
    restart: always
    networks:
      - pinnacle-network

  pinnacle-users-service-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: users
    volumes:
      - dbdata_users_service:/var/lib/postgresql/data
    restart: always
    networks:
      - pinnacle-network

  pinnacle-outcomes-service-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: outcomes
    volumes:
      - dbdata_outcomes_service:/var/lib/postgresql/data
    restart: always
    networks:
      - pinnacle-network

  pinnacle-notifications-service-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: notifications
    volumes:
      - dbdata_notifications_service:/var/lib/postgresql/data
      - ./docker/config/postgres/init-db.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always
    networks:
      - pinnacle-network


  pinnacle-redis:
    image: redis:7-alpine
    volumes:
      - redisdata:/data
    restart: always
    networks:
      - pinnacle-network
  pinnacle-adminer:
    image: adminer:latest
    ports:
      - "4780:8080"
    networks: [pinnacle-network]

networks:
  pinnacle-network:
    driver: bridge
  web:
    external: true
  observer:
    external: true


volumes:
  dbdata:
  dbdata_auth_service:
  dbdata_users_service:
  dbdata_outcomes_service:
  dbdata_notifications_service:
  redisdata:
  zookeeper-data:
  zookeeper-log:
  kafka-data: